$Teals-1: #0FC2C0;
$Teals-2: #0CABA8;
$Teals-3: #008F8C;
$Teals-4: #015958;
$Teals-5: #023535;


$October-1-hex: #520120;
$October-2-hex: #08403E;
$October-3-hex: #706513;
$October-4-hex: #B57114;
$October-5-hex: #962B09;
