@import "./reset";
@import  "./variables";
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Special+Elite&family=The+Girl+Next+Door&family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    text-align: center;
}