@import "variables";


.last {
    height: 6rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #E1a66f;
    font-family: "Nothing You Could Do", cursive;
  padding-top: 2rem;
  color: #0c484b;
  }
  