@import "variables";


.last {
    height: 5rem;
    font-size: 1.2rem;
    background-color: $October-4-hex;
    font-family: "Nothing You Could Do", cursive;
padding-top: 1.5rem;
  color: #0c484b;
  position:absolute;
  bottom: 0;
  margin-bottom: 0.3rem;
  width: 20rem;
  border-radius: 0.7rem;
  }
  