@import "variables";


.todo-create {
    width: 500px;
    display: flex;
    flex-direction: column;
align-items: flex-end;
    margin-top: 1.2rem;

}

.todo-input {
 width: 80%;
 outline: none;
    height: 2.3rem;
       border: 1px solid ;
       border-radius: 0.3rem;
    background-color: #37666b;
margin-right:2rem ;
    color: $October-4-hex;
    font-family: "Nothing You Could Do";
    font-size: 1.2rem;
    font-weight: 800;
    text-align: center;
}
.todo-create-button {
    padding: 5px 10px;
    border-radius: 3px;
    color: $Teals-3;
    background-color: $Teals-5;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 2rem;
}
.todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $Teals-1;
    color : $October-4-hex;
    background-color: $Teals-4;
    padding: 1rem;
    border-radius: 5px;
    font-family: "The Girl Next Door";
}
.icons {
    font-size: 1.2rem;
    display: flex;
    gap: 8px;
    cursor: pointer;
    color: $Teals-2;
}
.update {
  padding: 1rem;
    border-radius: 0.5rem;
    background-color: $Teals-2;
    font-family: "Special Elite";
    font-size: 1rem;
}